/* General Styles */
body {
    background-color: #f8f9fa; /* Light grey background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(1x2.jpg);
    background-size:contain;
    background-size: 110%;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #fff !important;
    margin-right: 15px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Card Container */
.card {
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: #ffffff;
    padding: 20px;
}

.card-title {
    color: #007bff; /* Bootstrap primary color */
    font-size: 2rem;
    margin: 0;
}
